* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #393E46;
}

/* header */
.navbar {
    height: 8vh;
    width: 100vw;
    background-color: #222831;
    padding: 0 7vw;
}   

.navbar .logo img {
    height: 4vh;
}

 .buttons button{
    margin: 0 0.4rem;
    
}

.buttons .login {
    color: #00ADB5;
    border-color: #00ADB5;
}

.buttons .login:hover {
    border-color: #00ADB5;
}

.buttons .register {
    background-color: #00ADB5;
    border-color: #00ADB5;
}
.buttons .register:hover {
    background-color: #00ADB5;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 5vh;
    width: 100vw;
    background-color: #222831;
    position:absolute;
    bottom: 0;
    
}

.footer p {
    color:#EEEEEE;
    text-align: center;    
    margin: 0;
}

.footer p:hover {
    color: #74f8ff;
}

/* main */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #eee;
    height: 82vh;
    text-align: center;
    margin: 0 4vw;
}

.main .left{
    margin: 0 auto;
}

.main .right {
    margin: 0 auto;
}

.main .right h2 {
    font-size: 3rem;
}


main .register {
    background-color: #00ADB5;
    border-color: #00ADB5;
    font-size: 1.8rem;
}
main .register:hover {
    background-color: #00ADB5;
}
