* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2d3138;
    font-family: 'Ubuntu', sans-serif;
}

/* header */
.navbar {
    height: 8vh;
    width: 100vw;
    background-color: #222831;
    padding: 0 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.navbar .logo img {
    height: 4vh;
}

 .buttons button{
    margin: 0 0.4rem;
    
}

.buttons .login {
    color: #00ADB5;
    border-color: #00ADB5;
    margin: 0 15px 0 0;
}

.buttons .login:hover {
    border-color: #00ADB5;
}

.buttons .register {
    background-color: #00ADB5;
    border-color: #00ADB5;
}
.buttons .register:hover {
    background-color: #00ADB5;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 3.5vh;
    width: 100vw;
    background-color: #222831;
    position:absolute;
    bottom: 0;
    
}

.footer p {
    color:#EEEEEE;
    text-align: center;    
    margin: 0;
}


/* main */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #eee;
    height: 82vh;
    text-align: center;
    margin: 0 4vw;
}

.main .left{
    margin: 0 auto;
}

.main .right {
    margin: 0 auto;
}

.main .right h2 {
    font-size: 3rem;
}


main .register {
    background-color: #00ADB5;
    border-color: #00ADB5;
    font-size: 1.8rem;
}
main .register:hover {
    background-color: #00ADB5;
}


/* login page */

.loginForm {
    background-color: #EEEEEE;
    height: 420px;
    width: 500px;
    border-radius: 40px;
    padding: 20px 30px;
    margin: 4rem auto;
    
}

.loginForm .text {
    text-align: center;
    font-weight: 600;
    color: #393E46;
}

.loginForm button {
    background-color: #00ADB5;
    font-size: 1.3rem;
}

.loginForm button:hover {
    background-color: #00ADB5;
}

/* Trade page */

.trade-nav {
    height: 70px;
    background-color: #131722;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trade-nav .left img {
    height: 40px;
    margin: 0 70px;
}

.trade-nav .right {
    display: flex;
    justify-content: space-between;
}

.trade-nav .right h4,h5 {
    margin: auto 20px;
    color: #EEEEEE;
    font-size: 1.3rem;
}

.trade-nav .right h4{
    color: #00ADB5;
}

.trade-nav .right button {
    border-color: #00ADB5;
    color: #00ADB5;
    margin: 0 70px;
}


/* tradingview-widget-container */

.trade-view {
    display: flex;
    justify-content: space-between;
}

.trade-view .left {
    height: 60%;
    width: 75%;
}

.trade-view .right {
    width: 25%;
}


/* limit-market */

.trade-view .limit-market{
    height: 38.2px;
    background-color:#131722;
    margin: 1px 1px 4px 1px;
    display: flex;
    align-items: center;
}

.trade-view .limit-market p {
    color: white;
    margin-left: 20px;
}

/* Limit Buy */

.limit-buy {
    background-color: #131722;
    padding: 10px 20px;
    margin: 1px;
    display: flex;
    align-items: center;
    
}

.limit-buy, .limit-sell {
    height: 302px;

}

.limit-buy button {
    background-color: rgb(109, 216, 109);
    font-size: 1.1rem;
}

.limit-buy button:hover {
    background-color: rgb(30, 158, 30);
}

/* limit sell */

.limit-sell {
    background-color: #131722;
    padding: 10px 20px;
    margin: 1px;

    display: flex;
    align-items: center;
}

.limit-sell button {
    background-color: rgb(200, 117, 106);
    font-size: 1.1rem;
}

.limit-sell button:hover {
    background-color: rgb(255, 31, 31);
}

.market-innerdiv {
    width: 100%;
}



/* OpenHistory */

.OpenHistory {
    height: calc(99vh - 750px );
    background-color: #393E46;
    color: #EEEE;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.OpenHistory p {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    color: #00ADB5;
}

.OpenHistory .openorders {
    width: 100%;
    margin-right: 2px;
    background-color: #131722;
    
}

.OpenHistory .history {
    width: 100%;
    margin-left: 1px;
    background-color: #131722;
    
}

.scrollinner {
    width: 100%;
    height: 86%;
    overflow:  scroll;

}

.OpenHistory .scrollinner::-webkit-scrollbar {
    display: none;
}


.OpenHistory  table {
    width: 100%;

    
}

.OpenHistory table {
    position: relative;
}

.OpenHistory table tr#openOrderHead{
    position:  fixed;
    justify-content: center;
}